[submodule "tkDNN"]
	path = tkDNN
	url = https://github.com/ceccocats/tkDNN
[submodule "tkCommon"]
	path = tkCommon
	url = https://github.com/ceccocats/tkCommon
[submodule "tracker"]
	path = tracker
	url = https://gitlab.bsc.es/ppc-bsc/software/tracker.git
