[submodule "tkDNN"]
	path = tkDNN
	url = https://gitlab.bsc.es/ppc/benchmarks/smart-city/tkdnn.git
[submodule "tracker"]
	path = tracker
	url = https://gitlab.bsc.es/ppc-bsc/software/tracker.git
[submodule "tkCommon"]
	path = tkCommon
	url = https://github.com/ceccocats/tkCommon.git
